*{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Piazzolla', serif;
}

/*font-size*/
body{
    font-size: 15px;
}
h1{
    font-size: 2em;
}

p{
    font-size: 1.5em;
}

span{
    font-size: 2em;
}

/*font-weight*/

span{
    font-weight: bold;
}

/*line-heinght*/

p{
    line-height: 1.5;
}
/*text-align*/

h1{
    text-align: right;
}

p{
    text-align: center;
}

/*text-decoration*/

h1{
    text-decoration: underline;
}

p{
    text-decoration: line-through;
}